$font: "Open Sans","Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-size-xs: 11px;
$font-size-s: 12px;
$font-size-m: 16px;
$font-size-l: 18px;

$font-weight-normal: 300;
$font-weight-bold: 500;
$font-weight-black: 700;
