@import '../sass/fonts';
@import '../sass/variables';
@import '../sass/mixins';
@import '../sass/color';

html {
  height: 100%;
}

body {
  font-family: $font;
  color: $black;
  transition: left .6s;
  -webkit-transition: left .6s;
  -moz-transition: left .6s;
  -webkit-font-smoothing: antialiase;
  -webkit-backface-visibility: inherit;
  overflow-x: hidden;
  overflow-y: scroll;
}

button, input, optgroup, select, textarea, li, ul {
  font-family: $font;
  transition: left .6s;
  -webkit-transition: left .6s;
  -moz-transition: left .6s;
}

input, textarea, * {
    &:focus {
        outline: none !important;
    }
}

ul {
	li {
		list-style: none;
	}
}
