<div class="row page-container ">
    <div class="col-md-3 filter">
        <div class="filter-group by-category">
            <h6 class="filter-title"><strong>Category</strong></h6>
            <a class="cate-item" [routerLink]="['/products']" [queryParams]="{}">See all categories</a>
            <a class="cate-item" [routerLink]="['/products']" [queryParams]="{category: 'tools'}" queryParamsHandling="merge">Tools</a>
            <a class="cate-item" [routerLink]="['/products']" [queryParams]="{category: 'brushes'}" queryParamsHandling="merge">Brushes</a>
        </div>

        <div class="filter-group by-price">
            <h6 class="filter-title"><strong>Price</strong></h6>
            <div class="checkbox-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="priceFilter" value="0" (change)="filterByPriceChanged($event)"> Under $25
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="priceFilter" value="1" (change)="filterByPriceChanged($event)"> $25 - $50
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="priceFilter" value="2" (change)="filterByPriceChanged($event)"> $50 - $100
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="priceFilter" value="3" (change)="filterByPriceChanged($event)"> $100 - $150
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="priceFilter" value="4" (change)="filterByPriceChanged($event)"> $150 - $300
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="priceFilter" value="5" (change)="filterByPriceChanged($event)"> Above $300
                    </label>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-secondary">CLEAR ALL FILTERS</button>
    </div>
    <div class="col-md-9 product-list">
        <div class="row">
            <div class="col-md-12">
                <div class="sort-wrap">
                    <label class="sort-item-wrap">
                        <span class="sort-title">Sort by:</span>
                        <select class="form-control" [(ngModel)]="sort_by">
                            <option value="price">Low To High</option>
                            <option value="-price">High To Low</option>
                        </select>
                    </label>
                    <label class="sort-item-wrap">
                        <span class="sort-title">View:</span>
                        <select class="form-control" [(ngModel)]="view_by">
                            <option value="25">25</option>
                            <option value="all">All</option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 thumbnail" *ngFor="let product of products">
                <a class="product-wrap" [routerLink]="['/product', product.id]">
                    <div class="sold-out" *ngIf="product.attributes.sold_out">Out of stock</div>
                    <img src="https://www.sephora.com/productimages/sku/s1925965-main-grid@2x.jpg">
                    <div class="caption">
                        <p class="name">{{product.attributes.name}}</p>
                        <p>
                            <span class="price" [class.under-sale]="product.attributes.under_sale">{{product.attributes.price | currency:'USD':true:'1.2-2'}}</span>
                            <span class="sale-price" *ngIf="product.attributes.under_sale">{{product.attributes.sale_price | currency:'USD':true:'1.2-2'}}</span>
                        </p>
                  </div>
                </a>
            </div>
        </div>
    </div>
</div>
